---
layout: default
---
<main id='product-page'
      itemscope
      itemtype='http://schema.org/Product'
      data-name='{{ page.title | escape }}'>
  <header>
    <h1 itemprop='name'>{{ page.title }}</h1>
    <h2 itemprop='offers' itemscope itemtype='http://schema.org/Offer'>
      <span itemprop='priceCurrency' content='GBP'>R$</span>
      <span itemprop='price' content='{{ site.price }}'>{{ site.price }}</span>
    </h2>
  </header>
  <div class='row'>
    <aside>
      <img src='{{ site.baseurl }}{{ page.url | replace: 'index/', 'imagem.jpg' }}'
           alt='{{ page.title }}'
           itemprop='image'/>
      <table>
        <tr>
          <th>Tipo</th>
          <td>{{ site.type }}</td>
        </tr>
        <tr>
          <th>Condição</th>
          <td itemprop='itemCondition'>{{ site.condition }}</td>
        </tr>
        <tr>
          <th>Peso</th>
          <td itemprop='weight'>{{ site.weight }}kg</td>
        </tr>
      </table>
    </aside>
    <article>
      <img src='{{ site.baseurl }}{{ page.url | replace: 'index/', 'imagem.jpg' }}'
           alt='{{ page.title | escape }}' />
      <div id='addToBasket' data-name='"{{ page.title | escape }}"'></div>
      <div itemprop='description' class='description'>{{ content }}</div>
    </article>
  </div>
  <div id='visited' data-begin='1' data-end='4'></div>
  <section class='yotpo yotpo-main-widget'
    data-product-id='{{ page.url }}'
    data-name='{{ page.title }}'
    data-url='{{ site.url }}{{ site.baseurl }}{{ page.url }}'
    data-image-url='{{ site.baseurl }}{{ page.url | replace: 'index/', 'imagem.jpg' }}'>
  </section>
</main>
